<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="public/css/semantic.min.css">
  <style>
      body {
          background: #1a202b;
      }
  </style>
  
</head>
<body>
    <div class="ui main text container segment" style="margin-top: 5%">
        <div class="ui huge header margin-top" style="padding: 1em 0 0 1em">Contact Us</div>
            <div class="ui divider"></div>
            <form class="ui form" action="/contact" method="POST" style="padding:2em">
                <div class="field">
                    <label>Name</label>
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="firstname" placeholder="First Name">
                        </div>
                        <div class="field">
                            <input type="text" name="lastname" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Phone</label>
                    <input type="text" name="phone" placeholder="Phone">
                </div>            
                <div class="field">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div class="field">
                    <label>Subject</label>
                    <input type="text" name="subject" placeholder="Subject">
                </div>
                <div class="field">
                    <label>Message</label>
                    <textarea name="message" placeholder="Enter message"></textarea>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" required>
                        <label>I agree to the Terms and Conditions.</label>
                    </div>
                </div>
                <button class="ui button secondary" type="submit">Submit</button>
            </form>  
            
        </div>
    </div>

    
    
    
</body>
</html>